.item {
  width: 100%;
  padding-top: 100%;
  position: relative;
  border-radius: 50%;
}

.itemContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ct-body-bg);
}